<!DOCTYPE html>
<html lang="en" ng-app='myApp'>

<head>
    <title>Proyecto-SYTW - Login</title>
    <% include templates/head %>

        <style type="text/css">

.radio-pink [type="radio"]:checked+label:after {
    border-color: #e91e63;
    background-color: #e91e63;
}
/*Gap*/

.radio-pink-gap [type="radio"].with-gap:checked+label:before {
    border-color: #e91e63;
}

.radio-pink-gap [type="radio"]:checked+label:after {
    border-color: #e91e63;
    background-color: #e91e63;
}
.center {
    margin-left: auto;
    margin-top: 30%;
    margin-right: auto;
    display: block;
}
.center-medio {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    display: block;
}
.center-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    display: block;
}
  </style>


</head>

<body>
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-toggleable-md navbar-dark">
            <!-- <div class="container"> -->
                <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                </button> -->
                <a class="text-dark" href="#">Challenge<strong class="text-red">&</strong>Play</a>
            <!-- </div> -->
        </nav>
        <!--/.Navbar-->
    </header>
    <!--Main layout-->
    <main>
        <div class="container">
            <!--Page heading-->
            <div class="row">
                <div class="col-md-4" >
                    <picture>
                         <source class="center" media="(min-width: 265px)" srcset="img/logos/logoNormal.png">
                          <source class="center" media="(min-width: 500px)" srcset="img/logos/logoGrande.png">
                        <img class="img-responsive center-medio"src="img/logos/logoPequeno.png" alt="Logo de la empresa">
                     </picture>
                      
                </div>
                   <div class="col-md-8 ng-scope ng-building" ng-controller="controladorConMetodos as fo">
                               <% if (error.status == 406 ) { %> 
                 
                                <div class="alert alert-danger alert-dismissable">
                                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                                  <strong>¡ERROR!</strong>  <p><p><%= message %> <%= error.status %><pre><%= error.stack %></pre></p>
                                </div>
                     <% }%>
                    <% if (error.status == 405 ) { %> 
                          
                                <div class="alert alert-danger alert-dismissable">
                                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                                  <strong>¡ERROR!</strong>  <p><p><%= message %> <%= error.status %><pre><%= error.stack %></pre></p>
                                </div>
                     <% } %>
                      <div class="row">
                           <h3 class="omb_authTitle center-form"><a  href="" ng-click="ShowRetroceder()">
                           Login</a> or <a href="" ng-click="ShowForm()">Sign up</a></h3>
                      </div>
                      <div class="omb_login row">
                        <div class="col-md-12">
                            <div ng-hide="form">
                                <div class="row omb_row-sm-offset-3 omb_loginOr">
                                    <div class="col-xs-12 col-sm-9 center-form">
                                        <hr class="omb_hrOr">
                                        <span class="omb_spanOr">or</span>
                                    </div>
                                </div>
                                <div class="row omb_row-sm-offset-3">
                                    <div class="col-xs-12 col-sm-9  center-form">
                                        <form class="omb_loginForm" method="POST" action="/login">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                <input required type="text" ng-model="fo.login.username" class="form-control" name="username" placeholder="Nombre Usuario">
                                            </div>
                                            <span class="help-block"></span>

                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                <input required type="password" class="form-control" ng-model="fo.login.password" name="password" placeholder="Password">
                                            </div>
                                            </br>
                                            <button class="btn red btn-block" value="Log in" type="submit">Login</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Login-->
                        <div class="col-md-12">
                            <div class="omb_login" ng-style="estilos" style="display: none;" ng-show="form">
                                <div class="row omb_row-sm-offset-3 omb_loginOr">
                                    <div class="col-xs-12 col-sm-9">
                                        <hr class="omb_hrOr"><span class="omb_spanOr">or</span>
                                    </div>
                                </div>
                                <div class="row omb_row-sm-offset-3">
                                    <div class="col-xs-12 col-sm-9">
                                        <form class="omb_loginForm pure-form" method="POST" action="/registro">
                                            <div class="row" >
                                                <span class="col-md-5 col-md-offset-1">Seleción de Perfil: </span>
                                                <div class="radio col-md-3 radio-pink-gap">
                                                  <label><input type="radio" ng-model="fo.registro.tipo" name="optradio" value="profesor" required>Profesor</label>
                                                </div>
                                                <div class="radio col-md-3">
                                                  <label><input  type="radio" ng-model="fo.registro.tipo"  name="optradio" value="alumno" >Alumno</label>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="input-group">
                                                    <span class="input-group-addon col-md-offset-2 text-center"><i class="fa fa-user"></i></span>
                                                    <input type="text" class="form-control col-md-3 col-md-offset-3" ng-model="fo.registro.username" name="username" id="username" placeholder="Username" required>
 
                                                     <span class="input-group-addon col-md-offset-2 text-center"><i class="fa fa-envelope-o"></i></span>
                                                    <input type="text" class="form-control" ng-model="fo.registro.email" name="email" id="email" placeholder="email" required>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="input-group">
                                                    <span class="input-group-addon col-md-offset-2 text-center"><i class="fa fa-user"></i></span>
                                                    <input type="text" class="form-control" ng-model="fo.registro.name" name="name" id="name" placeholder="Nombre" required>

                                                     <span class="input-group-addon col-md-offset-2 text-center"><i class="fa fa-user"></i></span>
                                                    <input type="text" class="form-control" ng-model="fo.registro.apellidos" name="apellidos" id="apellidos" placeholder="Apellidos" required>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                <input type="password" class="form-control" ng-model="fo.registro.password" name="password" placeholder="Password" id="password" required>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                <input type="password" class="form-control" ng-model="fo.registro.passwordh" name="passwordh" placeholder="Repite tu password" id="confirm_password" required>
                                            </div>
                                            </br>
                                            <button class="btn red btn-block" value="Log in" type="submit" >Registrarse</button>
                                        </form>
                                        <div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row omb_row-sm-offset-3">
                                    <div class="col-xs-12 col-sm-3">
                                    </div>
                                    <div class="col-xs-12 col-sm-3">
                                        <p class="omb_forgotPwd">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--/.Main layout-->
   
    <!--footer class="page-footer center-on-small-only">
                <!--% include templates/footer %>
    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->
    <% include templates/scripts %>
    <script type="text/javascript" src="js/indexControllers.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <!-- /.SCRIPTS -->

</body>

</html>
