<!DOCTYPE html>
<html lang="en" ng-app='myApp'>

<style>
    .en-medio{
        padding: 5%;
    }
</style>

<head>
  <title>Ranking Damas</title>
  <% include templates/head %>
</head>

<body>
  <header>
    <% include templates/header %>
  </header>

  <main>
    <div class="container en-medio">
      <div class="row">
        <div class="offset-1 col-md-7">
          <h1>Ranking Damas</h1>
          <ul class="users">
            <table class="table table-hover border-dark table-bordered table-stripe">
              <thead>
                <tr>
                  <th scope="col" data-priority="1">Posición</th>
                  <th scope="col" data-priority="1">Nombre</th>
                  <th scope="col" data-priority="2">Totales</th>
                  <th scope="col" data-priority="4">Ganadas</th>
                  <th scope="col" data-priority="3">Perdidas</th>
                  <th scope="col" data-priority="5">Empatadas</th>
                  <th scope="col" data-priority="6">% Ganadas</th>
                </tr>
              </thead>
              <tbody>
                <% for (var i=0; i < users.length; i++) {%>
                  <li class="users">
                    <tr class="table-info">
                      <td data-priority="1"><%= i+1 %> </td>
                      <td data-priority="2"><%= users[i].usuario.username %> </td>
                      <td data-priority="2"><%= users[i].usuario.totales_damas %> </td>
                      <td data-priority="3"><%= users[i].usuario.ganadas_damas %></td>
                      <td data-priority="4"><%= users[i].usuario.perdidas_damas %></td>
                      <td data-priority="5"><%= users[i].usuario.empatadas_damas %></td>
                      <%if(users[i].usuario.ganadas_damas == 0){%>
                        <td data-priority="6">0</td>
                      <% } else{ %>
                        <td data-priority="6"><%= ((users[i].usuario.ganadas_damas/users[i].usuario.totales_damas)*100).toFixed(2) %>%</td>
                      <% } %>
                    </tr class="table-info">
                  </li>
                <% } %>
              </tbody>
            </table>
          </ul>
        </div>
        <div class="offset-1 col-md-3 ">
          <img src="/img/ranking2.jpg" class="img-fluid" alt="Responsive image">
        </div>
      </div>
    </div>
  </main>

  <!--Footer-->
  <footer class="page-footer center-on-small-only">
    <% include templates/footer %>
  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <% include templates/scripts %>
  <!-- /.SCRIPTS -->

</body>

</html>
