<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
    <title>Proyecto-SYTW</title>
    <% include templates/head %>

<script type="text/javascript" src="js/sorttable.js"></script>
<script>
$(function(){
  $('#mi-tabla').tablesorter(); 
});
</script>
</head>

<body>

    <header>
      <% include templates/header %>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div  id="mi-tabla" class="offset-1 col-md-7">
                    <h1>Ranking Total <%= title %></h1>
                    <table  class="table table-hover border-dark table-bordered table-stripe sortable" >
                        <thead >
                            <tr>
                                <th>Nombre</th>
                                <th>Ganadas</th>
                                <th>Pierdes</th>
                                <th>Empatadas</th>
                                <th>% Ganada</th>
                            </tr>
                        </thead>
                        <tbody> 
                            
                        
                            <% for (var i=0; i < ranking.length; i++) {%>
                                 <tr class="table-info">
                                        <td><%= ranking[i].username %> </td>
                                        <td><%= ranking[i].ganadas %> </td>
                                         <td><%= ranking[i].perdidas %> </td>
                                         <td><%= ranking[i].empatadas %> </td>
                                        <th>
                                            <%= ((ranking[i].ganadas*100)/  (ranking[i].perdidas +ranking[i].ganadas)).toFixed(2) %>
                                        </th>
                                 </tr>  
                                 <% } %>
                         </tbody>
                    </table>
                </div>
                <div class="offset-1 col-md-3 ">
                    <img src="/img/ranking2.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </main>

    <!--Footer-->
    <footer class="page-footer center-on-small-only">
      <% include templates/footer %>
    </footer>
    <!--/.Footer-->

    <!-- SCRIPTS -->
    <% include templates/scripts %>
    <!-- /.SCRIPTS -->

</body>

</html>

